@import '../../node_modules/pearson-elements/scss/mixins/utilities';
@import '../../node_modules/pearson-elements/scss/variables';
@import '../../node_modules/pearson-elements/scss/mixins/colors';

html {
    overflow : hidden;
    height   : 100%;
}

body {
    height   : 100%;
    overflow : auto;
}

.modalHeader{
  padding          : 10px 15px 10px 15px;
  background-color : pe-color(brightly-lit);
  border-bottom    : 1px solid pe-color(sidewalk);
}

.modalContent{
  background-color : pe-color(white);
}

.modalBody{
  padding : 15px;
}

.modalFooter {
  border-top   : 1px solid pe-color(hairline-gray);
  padding      : 10px 0px 15px 0px;
  margin-right : 15px;
  margin-left  : 15px;
  overflow     : auto;
}

.modalCancel{
  float        : right;
  margin-right : 12px;
  outline      : none;
}

.modalSave{
  float   : right;
  outline : none;
}

.modalClose{
  float           : right;
  font-size       : x-large;
  text-decoration : none;
  color           : black;
  outline         : none;
}

button.modalClose{
  &:focus{
  color : black;
  };
  &:hover{
    color : black;
  };
}


.modalHeaderText{
  width : 90%;
}

.ReactModal__Content{
  box-shadow : 0px 0px 7px 1px pe-color(gray-no-1);
  outline    : none;
}

.pe-icon--times:before {
  content: '\f00d'; }

  .pe-btn--link {
    color: #0d65a6;
    background: none;
    border: 0;
    border-radius: 3px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: underline; }
    .pe-btn--link:hover, .pe-btn--link:active, .pe-btn--link:focus {
      color: #094877;
      background: none;
      border: 0;
      box-shadow: none; }
    .pe-btn--link:disabled, .pe-btn--link.pe-btn--disabled {
      cursor: default;
      border: 0;
      color: #9dc0db;
      background: 0;
      box-shadow: none;
      text-decoration: none; }
    .pe-btn--link:hover, .pe-btn--link:active, .pe-btn--link:focus {
      text-decoration: none; }
    .pe-btn--link:focus {
      outline: 1px black dotted; }


.pe-sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

  .pe-title {
    color: #000000;
    font-weight: normal;
    font-size: 1.124rem;
    line-height: 1.375rem;
    border-bottom: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media (min-width: 480px) {
      .pe-title {
        font-size: 1.375rem;
        line-height: 1.75rem; } }

        .pe-btn--primary {
          color: #ffffff;
          background: #107aca;
          border: solid 1px #0a4d80;
          border-radius: 3px;
          font-weight: 300;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
          .pe-btn--primary:hover, .pe-btn--primary:active, .pe-btn--primary:focus {
            color: #ffffff;
            background: #0c5d99;
            border: solid 1px #0a4d80;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
          .pe-btn--primary:disabled, .pe-btn--primary.pe-btn--disabled {
            cursor: default;
            border: 0;
            color: #ffffff;
            background: #9dc0db;
            box-shadow: none;
            text-decoration: none; }
          .pe-btn--primary:focus {
            outline: 1px black dotted; }



            .pe-btn {
              color: #565656;
              background: #f8f8f8;
              border: solid 1px #d0d0d0;
              border-radius: 3px;
              font-weight: normal;
              text-decoration: none;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              display: inline-block;
              vertical-align: middle;
              cursor: pointer;
              font-size: 0.875rem;
              height: 28px;
              line-height: 28px;
              padding: 0 11px; }
              .pe-btn:hover, .pe-btn:active, .pe-btn:focus {
                color: #565656;
                background: #e6e6e6;
                border: solid 1px #b3b3b3;
                box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
              .pe-btn:disabled, .pe-btn.pe-btn--disabled {
                cursor: default;
                border: 0;
                color: #a6a8ab;
                background: #f2f2f2;
                box-shadow: none;
                text-decoration: none; }
